absl-py==2.4.0
h5py==3.16.0
keras==3.14.0
markdown-it-py==4.0.0
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
numpy==2.4.4
optree==0.19.0
packaging==26.0
Pygments==2.20.0
rich==14.3.3
typing_extensions==4.15.0
